<br>
<div class="welcome">Bienvenido {{name}}, estos son los productos disponibles</div>
<h1 class="title">Productos</h1>
{{#if totalDocs}}
    <p class="list-title">Listado de productos</p>
    {{#each payload}}
        <ul class="product">
            <li class="product-info">{{this.title}} - Precio: {{this.price}}</li>
            <a class="product-link" href="/products/{{this._id}}">Ver detalle</a>
            <button class="add-to-cart" onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
        </ul>
    {{/each}}
    <div class="pagination">
        {{#if hasPrevPage}}
            <a class="prev-link" href={{prevLink}}> << Anterior</a>
        {{/if}}
        <span class="current-page">{{this.page}}</span>
        {{#if hasNextPage}}
            <a class="next-link" href={{nextLink}}>Siguiente >></a>
        {{/if}}
    </div>
{{else}}
    <p class="no-products">No hay productos</p>
{{/if}}
<script src="/js/products.js"></script>
